<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <title>{% block title %}{% endblock %} - MukashevCorp</title>
    </head>
    <body>
        <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
        <header>
            {% if start %}
              {% include 'hello/preloader.html' %}
            {% else %}
              {% include 'includes/header.html' %}
            {% endif %}
        </header>
        <main {% if start %} style="display:none;" {% endif %}>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include 'includes/footer.html' %}
        </footer>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    </body>
</html>