<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
<!--        <link rel="stylesheet" href="{% static 'css/bootstrap4/bootstrap.min.css' %}">-->

        <title>{% block title %}{% endblock %} - MukashevCorp</title>

    </head>
    <body>
        <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
        {% if start %}
          {% include 'hello/preloader.html' %}
        {% else %}
          {% include 'includes/header.html' %}
        {% endif %}
        <main {% if start %} style="display:none;" {% endif %}>
            {% block content %}{% endblock %}
        </main>

        {% if not start %}
            {% include 'includes/footer.html' %}
        {% endif %}
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<!--        <script src="{% static 'js/bootstrap4/bootstrap.bundle.min.js' %}"></script>-->
    </body>
</html>